@font-face {
    font-family: "mont";
    src: url(Mont-HeavyDEMO.otf);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button
{
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"]
{
    appearance: textfield;
    -moz-appearance: textfield;
}

body
{
    background-color: rgb(43, 57, 82);
}

.hometitle
{
    text-align: center;
    font-family: "mont";
    font-size: 5em;
    color:rgb(225, 231, 240);

    background-color: rgba(61, 87, 122, 0.5);
    border-radius: 2em;
    width: 15em;
    height: 1.3em;

    padding:0px;
    margin:auto;
}

.keytide
{
    text-align: center;
    font-family: "mont";
    font-size: 4em;
    color:rgb(207, 213, 221);

    background-color: rgba(217, 229, 243, 0.2);
    border-radius: 2em;
    width: 20em;
    height: 1.3em;

    padding:0.1em;
    margin:10px;
    margin-left:auto;
    margin-right:auto;
}

.items
{
    transform: translateX(30em);
    background-color: rgba(61, 87, 122, 0.5);
    border-radius: 10em;
    width: 100em;
    height: 50em;
}

.coords
{
    text-align: center;
    font-family: "mont";
    font-size: 3em;
    color:rgb(199, 208, 214);
    position: absolute;
    left: 1950px;
    top: 20px;

    padding:0px;
    margin:0px;
}

.lotlogo
{
    position: absolute;
    top: -70px;
    right: 1900px;

    width: 50em;
    height: 28em;
}

.map
{
    position: absolute;
    left: 2100px;
    bottom: 1050px;
    width: 20em;
    height: 12em;
}



.title
{
    text-align: center;
    font-family: "mont";
    font-size: 5em;
    color:rgb(225, 231, 240);

    padding:0px;
    margin:0px;
}

.drinks
{
    img
    {
        height:5em;
        width:5em;   
    }
    display:block;
    position: absolute;
    right: 1200px;
    top: 50px;
}

.food
{
    img
    {
        height:5em;
        width:5em;   
    }
    display:block;
    position: absolute;
    right: 600px;
    top: 50px;
}

.treats
{
    img
    {
        height:5em;
        width:5em;   
    }
    display:block;
    position: absolute;
    right: 100px;
    top: 50px;
}

.subtitle
{
    font-family: "mont";
    font-size: 4em;
    color:rgb(207, 213, 221);
    padding:0px;
    margin:0px;
}

.menu
{
    font-family: "mont";
    font-size: 3em;
    color:rgb(181, 187, 194);
    padding:0px;
    margin:0px;
}

.bg
{
    margin:auto;
    background-color: rgba(61, 87, 122, 0.5);
    border-radius: 10em;
    width: 55em;
    height: 50em;
}

.button1
{
    text-align: center;
    font-family: "mont";
    font-size: 4em;
    color:rgb(217, 225, 235);
    background-color: rgb(62, 74, 97);
    outline:none;
    border:none;

    padding: 0px;
    margin: 20px;
}