@font-face {
    font-family: "mont";
    src: url(Mont-HeavyDEMO.otf);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button
{
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"]
{
    appearance: textfield;
    -moz-appearance: textfield;
}

body {background-color: rgb(43, 57, 82);}

.title
{
    text-align: center;
    font-family: "mont";
    font-size: 5em;
    color:rgb(225, 231, 240);
    padding:0px;
    margin:0px;
}